@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
body
{
	margin:0;
	padding:0;
	background: url( ../images/black1.jpg);
	background-size: cover;
	font-family: sans-serif;
}
.open
{
	position: fixed;
	top: 0;
	left:0;
	right:0;
	bottom: 0;
	pointer-events: none;
	z-index: 1000;
}
.open .layer
{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transform-origin: top;
	animation:open 1s ease-in-out forwards;
}
.open .layer:nth-child(1)
{
	background: #000;
	z-index: 2;
	
}
.open .layer:nth-child(2)
{
	background: #03a9f4;
	animation-delay: 1s;
	z-index:1;
}
@keyframes open
{
	0%
	{
		transform: scaleY(1);
	}
	100%
	{
		transform: scaleY(0);
	}
}
section
{
	position: absolute;
	width: 100%;
	height:100%;
	background: url(black1.jpg);
	background-size: cover;
	display:grid;
	justify-content:center;
	align-items:center;
}
.container
{
	max-width:1000px;
	margin: 100px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	opacity:0;
	animation: fade 1s linear forwards;
	animation-delay:4s;
}
.card
{
	position:relative;
	margin:40px 20px;
	width: 300px;
	height:400px;
	transform-style: preserve-3d;
	perspective: 600px;
	transition:0.5s;	
	box-shadow:0 10px 15px rgb(0,0,0,0);
	opacity:0;	
	animation: fade 1s linear forwards;
	animation-delay:4s;
}
.card .front
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #000;
	backface-visibility: hidden;
	transform:rotateX(0deg);
	transition:0.5s;
}
.card:hover .front
{
	transform:rotateX(-180deg);
}
.card .back
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #000;
	backface-visibility: hidden;
	transform:rotateX(180deg);
	transition:0.5s;
}
.card .back:before
{
	content:'';
	position: absolute;
	top:0;
	right:50%;
	width:50%;
	height:100%;
	background:rgba(225,225,225,0.1);
}
.card:hover .back
{
	transform:rotateX(0deg);
}
.card .back .details
{
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	left:0;
	width:100%;
	text-align: center;
	padding: 20px;
	box-sizing:border-box;
}
.card .back .details h2
{
	margin:0;
	padding:0;
	font-size:24px;
	color:#fff;
}
.card .back .details h2 span
{
	color:#a7a7a7;
	font-size:16px;
}
.social-icons
{
	padding:10px 0;
}
.social-icons a
{
	display:inline-block;
	width:36px;
	height:36px;
	text-align:center;
	background:#262626;
	color:#fff;
	text-decoration:none;
	border-radius:50%;
	transition:0.5s;
}
.social-icons a .fa
{
	line-height: 36px;
}
.social-icons a:hover
{
	background:#e91e63;
}
.logo
{
	position:relative;
	margin:0;
	padding: 0;
	display: inline-block;
	transform-origin: left;
	color:#fff;
	text-transform: uppercase;
	transform:scaleX(0);	
	animation: revealtext1 1s ease-in-out forwards;
}
.logo
{
	font-size: 2em;
	animation-delay:1s;
}
.logo:before
{
	content:'';
	position: absolute;
	top:0;
	left:0;
	background: #fff;
	width:100%;
	height:100%;
	transform-origin:right;
	animation: revealtext 1s ease-in-out forwards;
	animation-delay:2s;
}
@keyframes revealtext
{
	0%
	{
		transform: scaleX(1);
	}
	100%
	{
		transform: scaleX(0);
	}
}
@keyframes revealtext1
{
	0%
	{
		transform: scaleX(0);
	}
	100%
	{
		transform: scaleX(1);
	}
}
.header
{
	position: absolute;
	top: 0;
	left:0;
	width:80%;
	height: 50px;
	padding: 0 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: boder-box;
	z-index:100;
}
.header .logo
{
	margin: 0;
	padding: 0;
	font-size: 2em;
	text-transform:uppercase;
	animation-delay: 2s;
}
.header ul
{
	margin:0;
	padding:0;
	display: flex;
}
.header ul li
{
	opacity:0;
	list-style:none;
	margin:0 5px;
	animation: fade2 0.5s linear forwards;
}
.header ul li:nth-child(1)
{
	animation-delay:2s;
}
.header ul li:nth-child(2)
{
	animation-delay:2.25s;
}
.header ul li:nth-child(3)
{
	animation-delay:2.5s;
}
.header ul li:nth-child(4)
{
	animation-delay:2.75s;
}
.header ul li:nth-child(5)
{
	animation-delay:3s;
}
.header ul li:nth-child(6)
{
	animation-delay:3.25s;
}
.header ul li:last-child
{
	margin-right:0;
}
.header ul li a
{
	text-decoration:none;
	font-size:1.2em;
	color:#fff;
	padding:5px 10px;
	margin: 0;
	background:none;
	letter-spacing:2px;
}
.header ul li a.active,
.header ul li a:hover
{
	background:#000;
	color:#fff;
}
@keyframes fade2
{
	0%
	{
		transform:translateX(150px);
		opacity: 0;
	}
	100%
	{
		transform:translateX(0);
		opacity: 1;
	}
}
@keyframes fade
{
	0%
	{
		opacity:0;
	}
	100%
	{
		opacity:1;
	}
}
button
{
	opacity: 0;
	display: inline-block;
	margin: 10px 0 0;
	padding: 5px 10px;
	background: transparent;
	color: #fff;
	font-weight: 500;
	text-decoration:none;
	font-size: 1em;
	letter-spacing: .5px;
	animation: fade 1s linear forwards;
	animation-delay:3.5s;
}
.header ul li form button
{
	background:transparent;
	border: none;
	outline:none;
	color:#fff;
	padding: 5px 10px;
	cursor: pointer;
	border-radius:5px;
	font-size:1.2em;
	letter-spacing:2px;
	margin: 0;
	
}
.header ul li button.active,
.header ul li button:hover
{
	background:#000;
	color:#fff;
}