body
{
	margin:0;
	padding:0;
	min-height: 100vh;
	font-family:sans-serif;
}
.open
{
	position: fixed;
	top: 0;
	left:0;
	right:0;
	bottom: 0;
	pointer-events: none;
	z-index: 1000;
}
.open .layer
{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transform-origin: top;
	animation:open 1s ease-in-out forwards;
}
.open .layer:nth-child(1)
{
	background: #000;
	z-index: 2;
	
}
.open .layer:nth-child(2)
{
	background: #03a9f4;
	animation-delay: 1s;
	z-index:1;
}
@keyframes open
{
	0%
	{
		transform: scaleY(1);
	}
	100%
	{
		transform: scaleY(0);
	}
}
section
{
	position: absolute;
	width: 100%;
	height:100%;
	background: url( ../images/black1.jpg);
	background-size: cover;
	display:grid;
	justify-content:center;
	align-items:center;
}
.banner
{
	position: absolute;
	top:50%;
	left:10%;
	transform:translateY(-50%);
	max-width:700px;
}
.banner h2,
.banner h3,
.logo
{
	position:relative;
	margin:0;
	padding: 0;
	display: inline-block;
	transform-origin: left;
	color:#fff;
	text-transform: uppercase;
	transform:scaleX(0);	
	animation: revealtext1 1s ease-in-out forwards;
}
.banner h2
{
	font-size:4em;
	animation-delay:2s;
}
.banner h3,
.logo
{
	font-size: 2em;
	animation-delay:3s;
}
.banner h2:before,
.banner h3:before,
.logo:before
{
	content:'';
	position: absolute;
	top:0;
	left:0;
	background: #fff;
	width:100%;
	height:100%;
	transform-origin:right;
	animation: revealtext 1s ease-in-out forwards;
	animation-delay:2s;
}
.banner h3:before
{
	animation-delay: 3s;
}
@keyframes revealtext
{
	0%
	{
		transform: scaleX(1);
	}
	100%
	{
		transform: scaleX(0);
	}
}
@keyframes revealtext1
{
	0%
	{
		transform: scaleX(0);
	}
	100%
	{
		transform: scaleX(1);
	}
}
.banner p
{
	color:#fff;
	opacity:0;
	font-weight:400;
	font-size: 1.2em;
	animation: fade 1s linear forwards;
	animation-delay:4s;
}
@keyframes fade
{
	0%
	{
		opacity:0;
	}
	100%
	{
		opacity:1;
	}
}
.cess
{
	opacity:0;
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
	animation: fade 1s linear forwards;
	animation-delay:4s;
}
a
{
	opacity: 0;
	display: inline-block;
	margin: 10px 0 0;
	padding: 5px 10px;
	background: #000;
	color: #fff;
	font-weight: 500;
	text-decoration:none;
	font-size: 1em;
	letter-spacing: .5px;
	animation: fade 1s linear forwards;
	animation-delay:3.5s;
}
.header
{
	position: absolute;
	top: 0;
	left:0;
	width:80%;
	height: 50px;
	padding: 0 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: boder-box;
	z-index:100;
}
.header .logo
{
	margin: 0;
	padding: 0;
	font-size: 2em;
	text-transform:uppercase;
	animation-delay: 2s;
}
.header ul
{
	margin:0;
	padding:0;
	display: flex;
}
.header ul li
{
	opacity:0;
	list-style:none;
	margin:0 5px;
	animation: fade2 0.5s linear forwards;
}
.header ul li:nth-child(1)
{
	animation-delay:5s;
}
.header ul li:nth-child(2)
{
	animation-delay:5.25s;
}
.header ul li:nth-child(3)
{
	animation-delay:5.5s;
}
.header ul li:nth-child(4)
{
	animation-delay:5.75s;
}
.header ul li:nth-child(5)
{
	animation-delay:6s;
}
.header ul li:nth-child(6)
{
	animation-delay:6.25s;
}
.header ul li:last-child
{
	margin-right:0;
}
.header ul li a
{
	text-decoration:none;
	font-size:1.2em;
	color:#fff;
	padding:5px 10px;
	margin: 0;
	background:none;
	letter-spacing:2px;
	border-radius: 5px;
}
.header ul li a.active,
.header ul li a:hover
{
	background:#000;
	color:#fff;
}
@keyframes fade2
{
	0%
	{
		transform:translateX(150px);
		opacity: 0;
	}
	100%
	{
		transform:translateX(0);
		opacity: 1;
	}
}
button
{
	opacity: 0;
	display: inline-block;
	margin: 10px 0 0;
	padding: 5px 10px;
	background: transparent;
	color: #fff;
	font-weight: 500;
	text-decoration:none;
	font-size: 1em;
	letter-spacing: .5px;
	animation: fade 1s linear forwards;
	animation-delay:3.5s;
}
.header ul li form button
{
	background:transparent;
	border: none;
	outline:none;
	color:#fff;
	padding: 5px 10px;
	cursor: pointer;
	border-radius:5px;
	font-size:1.2em;
	letter-spacing:2px;
	margin: 0;
	
}
.header ul li button.active,
.header ul li button:hover
{
	background:#000;
	color:#fff;
}